body {
    font-family: Arial, sans-serif;
  }
  .search-history-item {
    border: 1px solid rgb(101, 5, 82);
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    color: rgb(101, 5, 82);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    border-radius: 5px;
  }
  
  .search-history-item:hover {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .search-history-item:last-child {
    margin-bottom: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: rgb(101, 5, 82);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid rgb(101, 5, 82);
    margin: 5px;
    background-color: #f9f9f9;
    color: rgb(101, 5, 82);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    border-radius: 5px;
  }
  
  button {
    padding: 8px 20px;
    background-color: rgb(101, 5, 82);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  button:hover {
    background-color: #8a2be2; /* Adjust this color as needed */
  }
  
  #weather-display {
    margin-bottom: 20px;
    color: purple
  }
  
  #forecast-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .forecast-item {
    width: 18%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: purple;
    color: white;
  }
  
  .search-history-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }